<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MushRoom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MushRoom.Properties.Settings>
            <setting name="key01" serializeAs="String">
                <value>&gt; Drag and drop .FLAC files to begin</value>
            </setting>
            <setting name="Key02" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quality" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="target" serializeAs="String">
                <value />
            </setting>
            <setting name="samefolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askfolder" serializeAs="String">
                <value>False</value>
            </setting>
        </MushRoom.Properties.Settings>
    </userSettings>
</configuration>